@use "@/styles/variables" as *;

* {
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: $background-color;
}

h1,h2 {
    color: $general-text-color;
}

.content {
    position: fixed;
    top: 80px;
    left: 240px;
    padding: 20px;

}

@media (max-width: 768px) {
    .content{
        left: 0px;
    }

} 

