@use "@/styles/variables" as *;
.header {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 240px;
    background-color: $sidebar-color;
    padding-left: 20px;

}

@media (max-width: 768px) {
    .header {
      transform: translateX(-240px);
      padding-left: 60px;
    }
}